## Analysis of Kaggle Energy and Weather Dataset (Kolasniwash)

Here I will analyse an energy dataset provided by Kolasniwash on Kaggle on the electrical demand, energy generation, prices, and weather in Spain (see, <https://www.kaggle.com/datasets/nicholasjhana/energy-consumption-generation-prices-and-weather/data>). The dataset consists of two data files, energy_dataset.csv and weather_features.csv, containing the energy demand, generation, and prices along with weather data, respectively. The aim will be to gain meaningful insights into energy demand, generation, and prices as a function of the weather and try to predict future energy demand, generation, and prices by building predictive machine learning models.

The general steps will be the following:
1. Import basic Python packages needed for the data analysis.
2. Read in and store the data into memory using Pandas dataframes.
3. Perform some basic data exploration:
    * Length of data, number of columns, column data types
    * Number of missing values in each column
    * Median, mean, minimum, maximum, and ranges of each of the relevant column
    * Cadence of the data (time intervals)
    * Plots of the data as a function of time
    * Look for outliers
    * Look for interesting trends
4. Data cleaning:
    * Replace missing values (such as using the median, a rolling mean, spline interpolatation, or local regression depending on the column)
    * Replace outliers and invalid values (using methods listed above)
5. If there are any categorical data, apply ordinal encoding (for ordered values) and one-hot encoding (for values with no ordered relationship) to it to convert it to numerical data.
6. Merge the energy and weather data into a single dataframe as a function of time. If the cadence and timing of the energy and weather data are different, then interpolation might need to be used to have both datasets on the same time scale.
7. Check for correlations between energy demand, generation, and prices and the weather features using Pearson and Spearman correlation heatmap matrices.
8. Engineer new feature that will increase the predictive power of ML models such as:
    * Day of week, where Monday is 0 and Sunday is 6 or use one-hot encoding
    * Work day and weekend, where work days (Monday through Friday) are set to 0 and weekends to 1 (or one-hot encode this)
    * Solar flux as a function of time and city. Solar energy generation is highly dependent on the amount of solar energy received (and energy demand is too)
    * Local time as a fraction of the day so that we can use the time as a model feature
    * Sunrise and sunset as fractions of a day
    * Convert local time, time of week, sunrise, and sunset to cyclical times using sine and cosine for periodicity as this might help the model to better understand the time-based repeating nature of energy usage and generation more easily
9. Trial different machine learning models:
    * Random Forest Regression
    * XGBoost
    * Time-series specific models such as ARIMA, LSTM, or Prophet
10. Compare the perform of the different ML models. Also think about additional features that could be engineered and retest.
11. Put data on an AWS and develop DS pipeline to perform above tasks.

### Step One: Import Python Libraries

In [1]:
# Import the essential Python libraries we will definitely be using for this analysis.
import numpy as np
import pandas as pd
import os
import csv
from datetime import datetime          # To help deal with time series data.
import math
from tqdm import tqdm                  # Progress bar for loops that take a while.

# Import visualization libraries, I'm a big fan of Bokeh, but will also make use of Matplotlib.
# Matplotlib plotting library and functions.
import matplotlib as mp
import matplotlib.pyplot as plt
import seaborn as sns

# Bokeh plotting library and functions. Note, this is probably an overkill but I have used most of these in my other projects.
from bokeh.io import output_notebook, show
from bokeh.models.annotations.labels import Label
from bokeh.layouts import column, row
from bokeh.models import ColumnDataSource, CustomJS, Slider, Whisker, BoxAnnotation, Arrow, OpenHead, Span
from bokeh.plotting import figure, show, output_file, save
from bokeh.models import Legend, LinearAxis, Range1d, ColumnDataSource, LabelSet, HoverTool, DatetimeTickFormatter

### Step Two: Read the data from the two files into Pandas Dataframes

I will use Pandas to read in the data and store it in dataframes given the mixed data types. I will use the read_csv function in Pandas to read in these csv files.

In [2]:
# Get current directory. I will use this to construct the file path to the data files.
current_dir = str(os.getcwd())

files_dir = current_dir + '/data/'

# dataframe holding power usage/generation data. Use default options unless we encounter issues.
power_pd = pd.read_csv(files_dir+'energy_dataset.csv', header=0)

# dataframe holding weather info. Use default options unless we encounter issues.
weather_pd = pd.read_csv(files_dir+'weather_features.csv', header=0)

### Step Three: Data exploration

Now I will explore these datasets to determine data types in the columns, length of the datasets, number of missing values, and basic statistics (mean, median, standard deviation, minimum and maximum values, etc.)

### Power Data Exploration

In [3]:
# Print the length (number of rows) of the Power dataset.
print('Number of Rows in Power dataset: ', len(power_pd))

# Print the data type of the columns.
print('Columns and data types in the Power dataset: \n', power_pd.dtypes)

# Print the first five rows of power dataset to get a sense of the format of the data.
power_pd.head()

Number of Rows in Power dataset:  35064
Columns and data types in the Power dataset:
 time                                            object
generation biomass                             float64
generation fossil brown coal/lignite           float64
generation fossil coal-derived gas             float64
generation fossil gas                          float64
generation fossil hard coal                    float64
generation fossil oil                          float64
generation fossil oil shale                    float64
generation fossil peat                         float64
generation geothermal                          float64
generation hydro pumped storage aggregated     float64
generation hydro pumped storage consumption    float64
generation hydro run-of-river and poundage     float64
generation hydro water reservoir               float64
generation marine                              float64
generation nuclear                             float64
generation other                               float64
generation other renewable                     float64
generation solar                               float64
generation waste                               float64
generation wind offshore                       float64
generation wind onshore                        float64
forecast solar day ahead                       float64
forecast wind offshore eday ahead              float64
forecast wind onshore day ahead                float64
total load forecast                            float64
total load actual                              float64
price day ahead                                float64
price actual                                   float64
dtype: object

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [4]:
# Basic summary of power dataset using describe function from Pandas for the columns that are type float or integer.
power_pd.describe()

,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,generation hydro pumped storage aggregated,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
count,35045.000000,35046.000000,35046.0,35046.000000,35046.000000,35045.000000,35046.0,35046.0,35046.0,0.0,...,35045.000000,35046.0,35046.000000,35064.000000,0.0,35064.000000,35064.000000,35028.000000,35064.000000,35064.000000
mean,383.513540,448.059208,0.0,5622.737488,4256.065742,298.319789,0.0,0.0,0.0,NaN,...,269.452133,0.0,5464.479769,1439.066735,NaN,5471.216689,28712.129962,28696.939905,49.874341,57.884023
std,85.353943,354.568590,0.0,2201.830478,1961.601013,52.520673,0.0,0.0,0.0,NaN,...,50.195536,0.0,3213.691587,1677.703355,NaN,3176.312853,4594.100854,4574.987950,14.618900,14.204083
min,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,...,0.000000,0.0,0.000000,0.000000,NaN,237.000000,18105.000000,18041.000000,2.060000,9.330000
25%,333.000000,0.000000,0.0,4126.000000,2527.000000,263.000000,0.0,0.0,0.0,NaN,...,240.000000,0.0,2933.000000,69.000000,NaN,2979.000000,24793.750000,24807.750000,41.490000,49.347500
50%,367.000000,509.000000,0.0,4969.000000,4474.000000,300.000000,0.0,0.0,0.0,NaN,...,279.000000,0.0,4849.000000,576.000000,NaN,4855.000000,28906.000000,28901.000000,50.520000,58.020000
75%,433.000000,757.000000,0.0,6429.000000,5838.750000,330.000000,0.0,0.0,0.0,NaN,...,310.000000,0.0,7398.000000,2636.000000,NaN,7353.000000,32263.250000,32192.000000,60.530000,68.010000
max,592.000000,999.000000,0.0,20034.000000,8359.000000,449.000000,0.0,0.0,0.0,NaN,...,357.000000,0.0,17436.000000,5836.000000,NaN,17430.000000,41390.000000,41015.000000,101.990000,116.800000

In [6]:
# Check on the percentage of missing values in each column. We will need to do some data wrangling (e.g., deal with data/time columns) 
# and cleaning (e.g., deal with missing values).
# Use isnull() and sum() function to count missing values in all the columns.
print("Percentage of missing entries for each column:\n", 100.0*(power_pd.isnull().sum()/len(power_pd)))

Percentage of missing entries for each column:
 time                                             0.000000
generation biomass                               0.054187
generation fossil brown coal/lignite             0.051335
generation fossil coal-derived gas               0.051335
generation fossil gas                            0.051335
generation fossil hard coal                      0.051335
generation fossil oil                            0.054187
generation fossil oil shale                      0.051335
generation fossil peat                           0.051335
generation geothermal                            0.051335
generation hydro pumped storage aggregated     100.000000
generation hydro pumped storage consumption      0.054187
generation hydro run-of-river and poundage       0.054187
generation hydro water reservoir                 0.051335
generation marine                                0.054187
generation nuclear                               0.048483
generation other                                 0.051335
generation other renewable                       0.051335
generation solar                                 0.051335
generation waste                                 0.054187
generation wind offshore                         0.051335
generation wind onshore                          0.051335
forecast solar day ahead                         0.000000
forecast wind offshore eday ahead              100.000000
forecast wind onshore day ahead                  0.000000
total load forecast                              0.000000
total load actual                                0.102669
price day ahead                                  0.000000
price actual                                     0.000000
dtype: float64

In [7]:
# Check on the percentage of zero values in each column. Some columns may only contain 0 values so will need to be
# removed.
print("Percentage of zero entries for each column:\n", 100.0*((power_pd == 0).sum()/len(power_pd)))

Percentage of zero entries for each column:
 time                                            0.000000
generation biomass                              0.011408
generation fossil brown coal/lignite           29.993726
generation fossil coal-derived gas             99.948665
generation fossil gas                           0.002852
generation fossil hard coal                     0.008556
generation fossil oil                           0.008556
generation fossil oil shale                    99.948665
generation fossil peat                         99.948665
generation geothermal                          99.948665
generation hydro pumped storage aggregated      0.000000
generation hydro pumped storage consumption    35.954255
generation hydro run-of-river and poundage      0.008556
generation hydro water reservoir                0.008556
generation marine                              99.945813
generation nuclear                              0.008556
generation other                                0.011408
generation other renewable                      0.008556
generation solar                                0.008556
generation waste                                0.008556
generation wind offshore                       99.948665
generation wind onshore                         0.008556
forecast solar day ahead                        1.537189
forecast wind offshore eday ahead               0.000000
forecast wind onshore day ahead                 0.000000
total load forecast                             0.000000
total load actual                               0.000000
price day ahead                                 0.000000
price actual                                    0.000000
dtype: float64

Based on the columns in the power dataset, we can see it contains a few different parts:
* A time column, given as YYYY-MM-DD HH:MM:SS+HH:MM, where +HH:MM is the UTC to Central European Time (CET).
* Several energy generation columns for the different types of energy sources including:
    - generation biomass
    - generation fossil brown coal/lignite
    - generation fossil coal-derived gas
    - generation fossil gas
    - generation fossil hard coal
    - generation fossil oil
    - generation fossil oil shale
    - generation fossil peat
    - generation geothermal
    - generation hydro pumped storage aggregated
    - generation hydro pumped storage consumption
    - generation hydro run-of-river and poundage
    - generation hydro water reservoir
    - generation marine
    - generation nuclear
    - generation other
    - generation other renewable
    - generation solar
    - generation waste
    - generation wind offshore
    - generation wind onshore
* Three energy generation forecast columns that includes:
    - forecast solar day ahead
    - forecast wind offshore eday ahead
    - forecast wind onshore day ahead
* Two total power load columns, actual and forecast:
    - total load forecast
    - total load actual
* Two price columns, actual and day ahead:
    - price day ahead
    - price actual

Looking ahead, the power forecast columns will need to removed and put into a new dataframe as we don't want to use them in our ML model (other than to compare the performance of our ML model to the forecast model by TSO). Similarily, the total load forecast and price day ahead should be moved to a seperate dataframe.

Almost all columns contain at least some null or zero values, however, some columns contain entirely null or zero values and these should be removed. These columns include:
* generation fossil coal-derived gas
* generation fossil oil shale
* generation fossil peat
* generation geothermal
* generation hydro pumped storage aggregated
* generation marine
* generation wind offshore
* forecast wind offshore eday ahead

### Weather Data Exploration

In [8]:
# Length of weather dataset.
print('Number of Rows in weather dataset: ', len(weather_pd))

# Print the data type of the columns.
print('Columns and data types in the weather dataset: \n', weather_pd.dtypes)

# Print the first five rows of weather dataset to get a sense of the format of the data.
weather_pd.head()

Number of Rows in weather dataset:  178396
Columns and data types in the weather dataset:
 dt_iso                  object
city_name               object
temp                   float64
temp_min               float64
temp_max               float64
pressure                 int64
humidity                 int64
wind_speed               int64
wind_deg                 int64
rain_1h                float64
rain_3h                float64
snow_3h                float64
clouds_all               int64
weather_id               int64
weather_main            object
weather_description     object
weather_icon            object
dtype: object

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [9]:
# Basic summary of weather dataset using describe function from Pandas for the columns that are type float or integer.
weather_pd.describe()

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id
count,178396.000000,178396.000000,178396.000000,1.783960e+05,178396.000000,178396.00000,178396.000000,178396.000000,178396.000000,178396.000000,178396.000000,178396.000000
mean,289.618605,288.330442,291.091267,1.069261e+03,68.423457,2.47056,166.591190,0.075492,0.000380,0.004763,25.073292,759.831902
std,8.026199,7.955491,8.612454,5.969632e+03,21.902888,2.09591,116.611927,0.398847,0.007288,0.222604,30.774129,108.733223
min,262.240000,262.240000,262.240000,0.000000e+00,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,200.000000
25%,283.670000,282.483602,284.650000,1.013000e+03,53.000000,1.00000,55.000000,0.000000,0.000000,0.000000,0.000000,800.000000
50%,289.150000,288.150000,290.150000,1.018000e+03,72.000000,2.00000,177.000000,0.000000,0.000000,0.000000,20.000000,800.000000
75%,295.150000,293.730125,297.150000,1.022000e+03,87.000000,4.00000,270.000000,0.000000,0.000000,0.000000,40.000000,801.000000
max,315.600000,315.150000,321.150000,1.008371e+06,100.000000,133.00000,360.000000,12.000000,2.315000,21.500000,100.000000,804.000000

In [10]:
# Check on the percentage of missing values in each column. We will need to do some data wrangling (e.g., deal with data/time columns) 
# and cleaning (e.g., deal with missing values).
# Use isnull() and sum() function to count missing values in all the columns.
print("Percentage of missing entries for each column:\n", 100.0*(weather_pd.isnull().sum()/len(weather_pd)))

Percentage of missing entries for each column:
 dt_iso                 0.0
city_name              0.0
temp                   0.0
temp_min               0.0
temp_max               0.0
pressure               0.0
humidity               0.0
wind_speed             0.0
wind_deg               0.0
rain_1h                0.0
rain_3h                0.0
snow_3h                0.0
clouds_all             0.0
weather_id             0.0
weather_main           0.0
weather_description    0.0
weather_icon           0.0
dtype: float64

In [11]:
# Check on the percentage of zero values in each column. Some columns may only contain 0 values so will need to be
# removed.
print("Percentage of zero entries for each column:\n", 100.0*((weather_pd == 0).sum()/len(weather_pd)))

Percentage of zero entries for each column:
 dt_iso                  0.000000
city_name               0.000000
temp                    0.000000
temp_min                0.000000
temp_max                0.000000
pressure                0.001121
humidity                0.035315
wind_speed             10.364582
wind_deg               13.968923
rain_1h                89.132043
rain_3h                98.960178
snow_3h                99.850333
clouds_all             46.073903
weather_id              0.000000
weather_main            0.000000
weather_description     0.000000
weather_icon            0.000000
dtype: float64

In [12]:
# Let's see the names of all of the cities in this weather data.
print(weather_pd['city_name'].unique())

['Valencia' 'Madrid' 'Bilbao' ' Barcelona' 'Seville']

In [13]:
# There seems to be some extra rows of weather data compared with the power data. Let's look at the tail end of
# the weather and power data to compare the end times.
power_pd.tail()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
35059,2018-12-31 19:00:00+01:00,297.0,0.0,0.0,7634.0,2628.0,178.0,0.0,0.0,0.0,...,277.0,0.0,3113.0,96.0,NaN,3253.0,30619.0,30653.0,68.85,77.02
35060,2018-12-31 20:00:00+01:00,296.0,0.0,0.0,7241.0,2566.0,174.0,0.0,0.0,0.0,...,280.0,0.0,3288.0,51.0,NaN,3353.0,29932.0,29735.0,68.40,76.16
35061,2018-12-31 21:00:00+01:00,292.0,0.0,0.0,7025.0,2422.0,168.0,0.0,0.0,0.0,...,286.0,0.0,3503.0,36.0,NaN,3404.0,27903.0,28071.0,66.88,74.30
35062,2018-12-31 22:00:00+01:00,293.0,0.0,0.0,6562.0,2293.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3586.0,29.0,NaN,3273.0,25450.0,25801.0,63.93,69.89
35063,2018-12-31 23:00:00+01:00,290.0,0.0,0.0,6926.0,2166.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3651.0,26.0,NaN,3117.0,24424.0,24455.0,64.27,69.88

In [14]:
weather_pd.tail()

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
178391,2018-12-31 19:00:00+01:00,Seville,287.76,287.15,288.15,1028,54,3,30,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178392,2018-12-31 20:00:00+01:00,Seville,285.76,285.15,286.15,1029,62,3,30,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178393,2018-12-31 21:00:00+01:00,Seville,285.15,285.15,285.15,1028,58,4,50,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178394,2018-12-31 22:00:00+01:00,Seville,284.15,284.15,284.15,1029,57,4,60,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178395,2018-12-31 23:00:00+01:00,Seville,283.97,282.15,285.15,1029,70,3,50,0.0,0.0,0.0,0,800,clear,sky is clear,01n

The weather data is split into five cities in Spain (Valencia, Madrid, Bilbao, Barcelona, and Seville). Interestingly, despite the power and weather data having the same start and end time/date, the weather data appears to have some extra rows (power data has 35,064 rows, so the weather data should have 35064 * 5 = 175,320 but instead has 178,396, 3,076 more rows than expected. This will need to be investigated further.

The time column for the weather data is in the same format as the power data, YYYY-MM-DD HH:MM:SS+HH:MM, where +HH:MM is the UTC to Central European Time (CET). 

There are also a couple confusing columns in the weather data. These include *temp_min* and *temp_max*, which seem a bit odd given that there is a *temp* column. My guess is the *temp_min* and *temp_max* are the minimum and maximum temperatures, respectively, recorded within each 1 hour time interval and *temp* is the mean temperature at each hour.

The *weather_icon* I believe can be removed as it won't be an informative feature (it's a weather icon code for the TSO website). Also, we will need to convert the categorical weather columns (*weather_main* and *weather_description*) into numerical data via either one-hot encoding or ordinal encoding, depending on if we want an order to weather description from clear to cloudy/rainy. It's also not clear whether we should keep both *weather_main* and *weather_description* or just one of these columns. There is a *weather_id* which also describes the weather using numerical codes, so maybe we won't have to deal with *weather_main* and *weather_description*.

### Bokeh Visualisation Plotting Function

Below I have created a Bokeh plotting function to visualise the power and weather data.

In [120]:
# Let's visualize power data by plotting power generation/demand for the various power sources along with
# some optional weather features.

# Set up plotting figure. Set x-axis to "datetime" so that the date time can be displayed appropriately.
def explore_plots(dataframe, x_axis_column, y_axis_columns, x_axis_label, y_axis_label, title, feature_columns=None,
                  features_ylabel=None, p=None, normalize=False, other_colors=False, color_plot='black', color_features='black',
                  labels=None, features_labels=None, symbols=None, symbols_features=None, replaced_columns=None):

    """
    Function to create interactive exploratory plots.
    
    Parameters
    ----------
    dataframe : Pandas dataframe object
        The Pandas dataframe holding the data you want to plot.
    x_axis_column : string
        The name of the column you want to plot along the x-axis.
    y_axis_columns : list
        The names of the columns for the primary data you want to plot along the y-axis.
    x_axis_label : string
        The label to use for the x axis.
    y_axis_label : string
        The label to use for the y axis for the primary data. Note, all column data plotted will have the same y-axis scale
        and label name.
    title : string
        The title for the plot.

    Optional
    --------
    feature_columns : list or string
        The names of the columns you want to plot as additional features along secondary y-axis
        Default: None
    features_ylabel : list or string
        The secondary y-axis feature label/s. If a list greater than one item, list is concatenated into a single string.
        Default: None    
    p : bokeh plotting object
        A bokeh plotting object to add additional plotting objects to.
        Default: None
    normalize : Boolean
        Whether to normalize the data. Caution, might not work well for some features or when including more than one feature.
        Default: False
    other_colors : Boolean
        Whether to use your own colors (True) or to use color names as defined in this function (False).
        Default: False
    color_plot : string or list
        A string or list of colors to use for plotting the primary data. If list, must be length of number y_axis_columns.
        Default: 'black'
    color_features : string or list
        A string or list of colors to use for plotting the features data. If list, must be length of number feature_columns.
        Default: 'black'
    labels : list or string
        The labels to assign all the primary data from the y_axis_columns, should be list of length y_axis_columns if more than one
        primary data is being plotted.
        Default: None
    features_labels : list or string
        The labels to assign all the features data from feature_columns, should be list of length feature_columns if more than one
        feature is being plotted.
        Default: None
    symbols : string or list
        The plotting markers for the primary data. If list, must be length of number of y_axis_columns.
        Default: None
    symbols_features : string or list
        The plotting markers for the features data. If list, must be length of number of feature_columns.
        Default: None
    replaced_columns : Boolean
        Whether to plot the replaced primary data produced through cleaning. The appropriate columns must exist in the dataframe
        if True and given as 'replaced_' and the y_axis_columns, e.g., 'replaced_energy_usage_Wh' for replacements for 
        the 'energy_usage_Wh'.
        Default: False

    Returns
    -------
    p : bokeh object
        The Bokeh plotting object.
    """
    
    colors={'violet':'#6E36BB','pink':'#D8BAFF','blue':'#2480D0','cyan':'#00E6E6','green':'#1DD14B',
            'yellow':'#FFD700','orange':'#FF6600','dorange':'#DAA520','red':'#DD082C','black':'#000000',
            'grey':'#D0D0D0','dgrey':'#666666'}

    if p is None:
        p = figure(title=title, height=900, width=1600, x_axis_type="datetime",
                   tools="reset, hover, zoom_in, zoom_out, box_zoom, wheel_zoom, pan, save")
    
        p.title.text_font_size = '20pt'
        p.yaxis.axis_label = y_axis_label
        p.xaxis.axis_label_text_font_size = "20pt"
        p.xaxis.major_label_text_font_size = "20pt"
        p.xaxis.axis_label_text_font = "times"
        p.xaxis.axis_label_text_color = "black"
        p.xaxis.major_tick_in = 10
        p.xaxis.major_tick_out = 0
        p.xaxis.minor_tick_in = 4
        p.xaxis.minor_tick_out = 0
        p.xaxis.major_tick_line_width = 2
        p.xaxis.axis_label = x_axis_label
        p.yaxis.axis_label_text_font_size = "20pt"
        p.yaxis.major_label_text_font_size = "20pt"
        p.yaxis.axis_label_text_font = "times"
        p.yaxis.axis_label_text_color = "black"
        p.yaxis.major_tick_in = 10
        p.yaxis.major_tick_out = 0
        p.yaxis.minor_tick_in = 4
        p.yaxis.minor_tick_out = 0
        p.yaxis.major_tick_line_width = 2
        # Rotate labels for better readability
        p.xaxis.major_label_orientation = 120
        # Reduce the number of x-axis ticks to avoid crowding
        p.xaxis.ticker.desired_num_ticks = 8

        # Format the x-axis datetime labels.
        p.xaxis.formatter = DatetimeTickFormatter(
            minutes="%d-%m-%y %H:%M",
            hours="%d-%m-%y %H:%M",
            days="%d-%m-%y %H:%M",
            months="%d-%m-%y %H:%M",
            years="%d-%m-%y %H:%M"
        )

    if other_colors:
        color_plot_values = color_plot
    else:
        if isinstance(color_plot, list): 
            color_plot_values = [colors[c] for c in color_plot]
        else:
            color_plot_values = colors[color_plot]

    # Create a loop to plot each column data as given by y_axis_columns. Note that these columns will have the same y-range along
    # the primary y-axis.
    color_index = 0
    marker_index = 0
    label_index = 0

    # print('labels: ', labels)
    # print('markers: ', symbols)
    # print('colors: ', color_plot_values)
    
    for i, column in enumerate(y_axis_columns):
        label = labels[label_index]

        # Create a loop to plot the column data for each city in Spain
        for y, city in enumerate(dataframe['city_name'].unique()):

            if normalize:
                max_primary_data = dataframe.loc[dataframe['city_name'] == city, column].max()
            else:
                max_primary_data = 1

            # Only show the first column by default, hide others
            visible = True if i == 0 | y == 0 else False
            
            # Scatter plot with symbols.
            if symbols:
                p.scatter(dataframe.loc[dataframe['city_name'] == city, x_axis_column],
                          dataframe.loc[dataframe['city_name'] == city, column]/max_primary_data, size=10,
                          marker=symbols[marker_index], color=color_plot_values[color_index], alpha=0.5,
                          legend_label=label + ' ' + str(city), visible=visible)
                
            # Add a line to connect the symbols
            p.line(dataframe.loc[dataframe['city_name'] == city, x_axis_column],
                   dataframe.loc[dataframe['city_name'] == city, column]/max_primary_data,
                   line_width=2, color=color_plot_values[color_index], alpha=0.5, legend_label=label + ' ' + str(city),
                   visible=visible)

            if replaced_columns:
                p.scatter(dataframe.loc[dataframe['city_name'] == city, x_axis_column],
                          dataframe.loc[dataframe['city_name'] == city, f'replaced_{column}']/max_primary_data,
                          size=10, color="red", marker="diamond", alpha=0.5, legend_label="Replaced " + label + ' ' + str(city),
                          visible=visible)

            # print('marker_index: ', marker_index)
            # print('color_index: ', color_index)
            # print('label_index: ', label_index)
        
            marker_index = marker_index + 1
            color_index = color_index + 1
        label_index = label_index + 1
        

    # Create a loop to plot the feature data, if given. Note, secondary y axis must be the same for all features!
    if feature_columns:

        if other_colors:
            color_plot_values = color_features
        else:
            if isinstance(color_features, list): 
                color_plot_values = [colors[c] for c in color_features]
            else:
                color_plot_values = colors[color_features]

        if normalize:
            max_features_data = dataframe[feature_columns].max().max()
        else:
            max_features_data = 1

        # Specify the secondary y-range for plotting the features data. All features data will be plotted on the same secondary
        # y-axis range, so find minimum and maximum values for the first feature
        y_range = p.y_range
        p.extra_y_ranges['features'] = y_range
        label_index = 0
        color_index = 0
        marker_index = 0

        for i, feature_column in enumerate(feature_columns):

            feature_label = features_labels[label_index]

            # Create a loop to plot the features for each city.
            for y, city in enumerate(dataframe['city_name'].unique()):

                if normalize:
                    max_features_data = dataframe.loc[dataframe['city_name'] == city, feature_column].max()
                else:
                    max_features_data = 1

                # Only show the first column by default, hide others
                visible = True if i == 0 | y == 0 else False
                
                # Scatter plot with symbols. Only plot the energy usage as a function of time for a specific city.
                if symbols_features:
                    p.scatter(dataframe.loc[dataframe['city_name'] == city, x_axis_column],
                              dataframe.loc[dataframe['city_name'] == city, feature_column]/max_features_data,
                              y_range_name="features", size=10, marker=symbols_features[marker_index],
                              color=color_plot_values[color_index], alpha=0.5, legend_label=feature_label + ' ' + str(city),
                              visible=visible)
                # Add a line to connect the symbols
                p.line(dataframe.loc[dataframe['city_name'] == city, x_axis_column],
                       dataframe.loc[dataframe['city_name'] == city, feature_column]/max_features_data, y_range_name="features",
                       line_width=2, color=color_plot_values[color_index], alpha=0.5,
                       legend_label=feature_label + ' ' + str(city), visible=visible)
            
                marker_index = marker_index + 1
                color_index = color_index + 1
            label_index = label_index + 1

        # Add the secondary y-axis
        secondary_y_axis = LinearAxis(y_range_name="features", axis_label=" ".join(features_ylabel))
        p.add_layout(secondary_y_axis, 'right')

        secondary_y_axis.axis_label_text_font_size = "20pt"  # Adjust label font size
        secondary_y_axis.major_label_text_font_size = "20pt"  # Adjust tick label font size
        secondary_y_axis.axis_label_text_font = "times"
        secondary_y_axis.axis_label_text_color = "black"
        secondary_y_axis.axis_label_text_font_size = "16pt"
        secondary_y_axis.axis_label_text_font_style = "normal"
        secondary_y_axis.major_tick_in = 10
        secondary_y_axis.major_tick_out = 0
        secondary_y_axis.minor_tick_in = 4
        secondary_y_axis.minor_tick_out = 0

    # Allow user to hide/show plot features.
    p.add_layout(Legend(), 'right')
    p.legend.click_policy="hide"
    p.legend.background_fill_alpha = 0.3
    p.legend.border_line_alpha = 0.2

    return(p)

Before we can proceed with visualising the power and weather data, we need to make a few modifications. The first of which is to transform the time columns in these two datasets to proper datetime format. Additionally, I find it useful to have both utc and local time and by having both, we can remove the +HH:MM attachment on the date/times. Lastly, we will need to create a city column in the power dataframe as a place holder for now as the plotting function expects this (this will be used in overplotting the weather features).

In [82]:
# Let's make copies of power_pd and weather_pd dataframes.
power_pd1 = power_pd.copy(deep=True)
weather_pd1 = weather_pd.copy(deep=True)

# Rename time columns for consistency in the power and weather dataframes.
power_pd1.rename(columns={'time':'local_time'}, inplace=True)
weather_pd1.rename(columns={'dt_iso':'local_time'}, inplace=True)

# Now convert the date/time strings in the local_time and utc_time columns to datetime64 data type so that I can work with
# the time series data.
power_pd1['local_time_tz'] = pd.to_datetime(power_pd1['local_time'], utc=True)
power_pd1['utc_time'] = power_pd1['local_time_tz'].dt.tz_localize(None)
power_pd1['local_time'] = power_pd1['local_time_tz'].dt.tz_convert('Europe/Madrid').dt.tz_localize(None)
power_pd1.drop(columns='local_time_tz', inplace=True)
column_utc_time = power_pd1.pop('utc_time')
power_pd1.insert(1, 'utc_time', column_utc_time)

weather_pd1['local_time_tz'] = pd.to_datetime(weather_pd1['local_time'], utc=True)
weather_pd1['utc_time'] = weather_pd1['local_time_tz'].dt.tz_localize(None)
weather_pd1['local_time'] = weather_pd1['local_time_tz'].dt.tz_convert('Europe/Madrid').dt.tz_localize(None)
weather_pd1.drop(columns='local_time_tz', inplace=True)
column_utc_time = weather_pd1.pop('utc_time')
weather_pd1.insert(1, 'utc_time', column_utc_time)

In [83]:
print('Columns and data types in the power dataset: \n', power_pd1.dtypes)
power_pd1.head()

Columns and data types in the power dataset:
 local_time                                     datetime64[ns]
utc_time                                       datetime64[ns]
generation biomass                                    float64
generation fossil brown coal/lignite                  float64
generation fossil coal-derived gas                    float64
generation fossil gas                                 float64
generation fossil hard coal                           float64
generation fossil oil                                 float64
generation fossil oil shale                           float64
generation fossil peat                                float64
generation geothermal                                 float64
generation hydro pumped storage aggregated            float64
generation hydro pumped storage consumption           float64
generation hydro run-of-river and poundage            float64
generation hydro water reservoir                      float64
generation marine                                     float64
generation nuclear                                    float64
generation other                                      float64
generation other renewable                            float64
generation solar                                      float64
generation waste                                      float64
generation wind offshore                              float64
generation wind onshore                               float64
forecast solar day ahead                              float64
forecast wind offshore eday ahead                     float64
forecast wind onshore day ahead                       float64
total load forecast                                   float64
total load actual                                     float64
price day ahead                                       float64
price actual                                          float64
dtype: object

,local_time,utc_time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00,2014-12-31 23:00:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00,2015-01-01 00:00:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00,2015-01-01 01:00:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00,2015-01-01 02:00:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00,2015-01-01 03:00:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [35]:
print('Columns and data types in the weather dataset: \n', weather_pd1.dtypes)
weather_pd1.head()

Columns and data types in the weather dataset:
 local_time             datetime64[ns]
utc_time               datetime64[ns]
city_name                      object
temp                          float64
temp_min                      float64
temp_max                      float64
pressure                        int64
humidity                        int64
wind_speed                      int64
wind_deg                        int64
rain_1h                       float64
rain_3h                       float64
snow_3h                       float64
clouds_all                      int64
weather_id                      int64
weather_main                   object
weather_description            object
weather_icon                   object
dtype: object

,local_time,utc_time,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00,2014-12-31 23:00:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00,2015-01-01 00:00:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00,2015-01-01 01:00:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00,2015-01-01 02:00:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00,2015-01-01 03:00:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [84]:
# A column for city names in the power dataset and set to 'Spain' for now.
power_pd1['city_name'] = 'Spain'
column_city_name = power_pd1.pop('city_name')
power_pd1.insert(2, 'city_name', column_city_name)

In [85]:
# Let's create a basic plot exploritory plot showing the energy production as a function of time for one of the
# energy production columns

p = explore_plots(power_pd1, 'local_time', ['generation biomass'],
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Power\ Generation\ Biomass\ (MWh)}$$",
                  'Power Generation from Biomass vs Local Time', feature_columns=None,
                  features_ylabel=None, p=None, normalize=False, other_colors=False,
                  color_plot=['dorange', 'dorange', 'dorange', 'green', 'green', 'green'],
                  color_features=None,
                  labels=['Power Generation from Biomass'], features_labels=None,
                  symbols=['star', 'triangle', 'diamond', 'star', 'triangle', 'diamond'],
                  symbols_features=None)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Power_generation_biomass.html'

title = 'Power Generation from Biomass vs Local Time'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/307918360.py:27: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Power_generation_biomass.html'

Before producing additional plots, let's remove some columns that contain only null or zero values from the power dataset. Once this is done, then we will produce a plot that shows all the power generation columns.

In [86]:
power_pd2 = power_pd1.copy(deep=True)

# Identify generation columns where all values are NaN and/or 0
null_zero = []
for col in power_pd2.columns:
    if col.startswith('generation'):
        # Create boolean mask where values are NaN or 0
        is_null_or_zero = power_pd2[col].isna() | (power_pd2[col] == 0.0)
        if is_null_or_zero.all():
            null_zero.append(col)

# Print and drop those columns
print("Columns with all null/zero values:")
for col in null_zero:
    print(col)

# Drop from power_pd2
power_pd2.drop(columns=null_zero, inplace=True)

Columns with all null/zero values:
generation fossil coal-derived gas
generation fossil oil shale
generation fossil peat
generation geothermal
generation hydro pumped storage aggregated
generation marine
generation wind offshore

In [50]:
power_pd2.head()

,local_time,utc_time,city_name,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,...,generation solar,generation waste,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00,2014-12-31 23:00:00,Blank,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,...,49.0,196.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00,2015-01-01 00:00:00,Blank,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,...,50.0,195.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00,2015-01-01 01:00:00,Blank,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,...,50.0,196.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00,2015-01-01 02:00:00,Blank,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,...,50.0,191.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00,2015-01-01 03:00:00,Blank,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,...,42.0,189.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [87]:
# Let's also remove 'forecast wind offshore eday ahead' as all of the values are null.
power_pd2.drop(columns=['forecast wind offshore eday ahead'], inplace=True)
power_pd2.head()

,local_time,utc_time,city_name,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,...,generation other renewable,generation solar,generation waste,generation wind onshore,forecast solar day ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00,2014-12-31 23:00:00,Spain,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,...,73.0,49.0,196.0,6378.0,17.0,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00,2015-01-01 00:00:00,Spain,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,...,71.0,50.0,195.0,5890.0,16.0,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00,2015-01-01 01:00:00,Spain,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,...,73.0,50.0,196.0,5461.0,8.0,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00,2015-01-01 02:00:00,Spain,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,...,75.0,50.0,191.0,5238.0,2.0,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00,2015-01-01 03:00:00,Spain,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,...,74.0,42.0,189.0,4935.0,9.0,4861.0,21785.0,20264.0,38.41,56.04

In [126]:
# Now create a plot showing all the power generation sources as a function of time.
from bokeh.palettes import Category20

# Use Category20 palette (20 distinct colors), pick 14
colors = Category20[20][:14]

# Select 14 distinct Bokeh marker types
available_markers = [
    'circle', 'square', 'triangle', 'diamond', 'inverted_triangle',
    'cross', 'x', 'asterisk', 'circle_cross', 'square_cross',
    'diamond_cross', 'circle_x', 'square_x', 'triangle_dot'
]

# Create a list of all of the power generation columns, labels, colors, and markers.
generation_cols = []
color_plot = []
labels = []
symbols = []
for i, col in enumerate(power_pd2.columns):
    if col.startswith('generation'):
        generation_cols.append(col)
        labels.append(col)  # Just use the column name as label
        color_plot.append(colors[i % len(colors)])  # Safeguard in case >14
        symbols.append(available_markers[i % len(available_markers)])

print("Power generation columns:")
for col in generation_cols:
    print(col)

Power generation columns:
generation biomass
generation fossil brown coal/lignite
generation fossil gas
generation fossil hard coal
generation fossil oil
generation hydro pumped storage consumption
generation hydro run-of-river and poundage
generation hydro water reservoir
generation nuclear
generation other
generation other renewable
generation solar
generation waste
generation wind onshore

In [128]:
p = explore_plots(power_pd2, 'local_time', generation_cols,
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Power\ Generation\ (MW)}$$",
                  'Power Generation vs Local Time in Spain', feature_columns=None,
                  features_ylabel=None, p=None, normalize=False, other_colors=True,
                  color_plot=color_plot,
                  color_features=None,
                  labels=labels, features_labels=None,
                  symbols=symbols,
                  symbols_features=None)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Power_generation_all_sources.html'

title = 'Power Generation vs Local Time in Spain'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/2165224155.py:24: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Power_generation_all_sources.html'

In [129]:
p = explore_plots(power_pd2, 'local_time', generation_cols,
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Normalized\ Power\ Generation}$$",
                  'Normalized Power Generation vs Local Time in Spain', feature_columns=None,
                  features_ylabel=None, p=None, normalize=True, other_colors=True,
                  color_plot=color_plot,
                  color_features=None,
                  labels=labels, features_labels=None,
                  symbols=symbols,
                  symbols_features=None)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Normalized_Power_generation_all_sources.html'

title = 'Normalized Power Generation vs Local Time in Spain'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/2902013335.py:24: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Normalized_Power_generation_all_sources.html'

Many of these power generation sources are cyclical in nature and are likely influenced by weather conditions and demand. There also appears to be some sudden dips where the value is 0 that is common across most of the power sources, so these will need to be investigated further (could be an indication of invalid values).

Next I will create plots showing the total actual load and total actual price. Then I will create plots showing the forecast power generation from solar and wind, forecast of the power load, and forecast for the price which will serve as benchmarks for my ML predictive models.

In [131]:
p = explore_plots(power_pd2, 'local_time', ['total load actual'],
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Total\ Power\ Load\ (MW)}$$",
                  'Total Power Demand vs Local Time in Spain', feature_columns=None,
                  features_ylabel=None, p=None, normalize=False, other_colors=False,
                  color_plot=['red'],
                  color_features=None,
                  labels=['total load actual'], features_labels=None,
                  symbols=['circle'],
                  symbols_features=None)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Total_power_load.html'

title = 'Total Power Load vs Local Time in Spain'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/2069786109.py:24: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Total_power_load.html'

In [132]:
p = explore_plots(power_pd2, 'local_time', ['price actual'],
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Electricity\ Price\ (EUR/MWh)}$$",
                  'Electricity Price vs Local Time in Spain', feature_columns=None,
                  features_ylabel=None, p=None, normalize=False, other_colors=False,
                  color_plot=['red'],
                  color_features=None,
                  labels=['price actual'], features_labels=None,
                  symbols=['circle'],
                  symbols_features=None)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Electricity_price.html'

title = 'Electricity Price vs Local Time in Spain'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/1329378099.py:24: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Electricity_price.html'

In [134]:
p = explore_plots(power_pd2, 'local_time', ['forecast solar day ahead', 'forecast wind onshore day ahead'],
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Forecast\ Power\ Generation\ (MW)}$$",
                  'Forecast Power Generation vs Local Time in Spain', feature_columns=None,
                  features_ylabel=None, p=None, normalize=False, other_colors=False,
                  color_plot=['red', 'blue'],
                  color_features=None,
                  labels=['forecast solar day ahead', 'forecast wind onshore day ahead'], features_labels=None,
                  symbols=['circle', 'square'],
                  symbols_features=None)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Forecast_power_generation.html'

title = 'Forecast Power Generation vs Local Time in Spain'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/2341785318.py:24: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Forecast_power_generation.html'

In [135]:
p = explore_plots(power_pd2, 'local_time', ['total load forecast'],
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Forecast\ Power\ Load\ (MW)}$$",
                  'Forecast Power Demand vs Local Time in Spain', feature_columns=None,
                  features_ylabel=None, p=None, normalize=False, other_colors=False,
                  color_plot=['green'],
                  color_features=None,
                  labels=['total load forecast'], features_labels=None,
                  symbols=['square'],
                  symbols_features=None)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Forecast_power_load.html'

title = 'Forecast Power Load vs Local Time in Spain'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/3624781371.py:24: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Forecast_power_load.html'

In [136]:
p = explore_plots(power_pd2, 'local_time', ['price day ahead'],
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Forecast\ Electricity\ Price\ (EUR/MWh)}$$",
                  'Forecast Electricity Price vs Local Time in Spain', feature_columns=None,
                  features_ylabel=None, p=None, normalize=False, other_colors=False,
                  color_plot=['green'],
                  color_features=None,
                  labels=['price day ahead'], features_labels=None,
                  symbols=['square'],
                  symbols_features=None)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Forecast_electricity_price.html'

title = 'Forecast Electricity Price vs Local Time in Spain'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/98818606.py:24: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Forecast_electricity_price.html'

Now for some plots of the weather features.

In [137]:
# Now create a plot showing numerical weather features as a function of time and city.
from bokeh.palettes import Category20

weather_feats = ['temp', 'temp_min', 'temp_max', 'pressure', 'humidity', 'wind_speed', 'wind_deg', 'rain_1h', 'rain_3h',
                 'snow_3h', 'clouds_all', 'weather_id']

# Use Category20 palette (20 distinct colors), pick 12
colors = Category20[20][:12]

# Select 12 distinct Bokeh marker types
available_markers = ['circle', 'square', 'triangle', 'diamond', 'inverted_triangle',
    'cross', 'x', 'asterisk', 'circle_cross', 'square_cross',
    'diamond_cross', 'circle_x', 'square_x', 'triangle_dot', 'hex']

# Create a list of all of the colors and markers.
color_plot = []
symbols = []
for i, col in enumerate(weather_feats):
    color_plot.append(colors[i % len(colors)])  # Safeguard in case >14
    symbols.append(available_markers[i % len(available_markers)])

In [138]:
p = explore_plots(weather_pd1, 'local_time', ['temp', 'temp_min', 'temp_max'],
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Temperature\ (K)}$$",
                  'Temperature vs Local Time in Spain', feature_columns=None,
                  features_ylabel=None, p=None, normalize=False, other_colors=False,
                  color_plot=['black', 'black', 'black', 'black', 'black', 'blue', 'blue', 'blue', 'blue', 'blue',
                             'red', 'red', 'red', 'red', 'red'],
                  color_features=None,
                  labels=['temp', 'temp_min', 'temp_max'], features_labels=None,
                  symbols=available_markers,
                  symbols_features=None)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Weather_feature_temperature.html'

title = 'Temperature vs Local Time in Spain'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/2816559840.py:25: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Weather_feature_temperature.html'

In [139]:
p = explore_plots(weather_pd1, 'local_time', ['wind_speed'],
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Wind\ Speed\ (m\,s^{-1})}$$",
                  'Wind Speed & Direction vs Local Time in Spain', feature_columns=['wind_deg'],
                  features_ylabel='Wind Direction (deg)', 
                  p=None, normalize=False, other_colors=False,
                  color_plot=['black', 'blue', 'orange', 'red', 'green'],
                  color_features=['violet', 'pink', 'cyan', 'dorange', 'dgrey'],
                  labels=['wind_speed'], features_labels=['wind_deg'],
                  symbols=available_markers,
                  symbols_features=available_markers)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Weather_feature_wind.html'

title = 'Wind Speed & Direction vs Local Time in Spain'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/2821321706.py:25: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Weather_feature_wind.html'

In [140]:
p = explore_plots(weather_pd1, 'local_time', ['rain_1h', 'rain_3h', 'snow_3h'],
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Precipitation\ (mm)}$$",
                  'Precipitation vs Local Time in Spain', feature_columns=None,
                  features_ylabel=None, 
                  p=None, normalize=False, other_colors=False,
                  color_plot=['green', 'green', 'green', 'green', 'green', 'orange', 'orange', 'orange', 'orange', 'orange',
                             'blue', 'blue', 'blue', 'blue', 'blue'],
                  color_features=None,
                  labels=['rain_1h', 'rain_3h', 'snow_3h'], features_labels=None,
                  symbols=available_markers,
                  symbols_features=None)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Weather_feature_precipitation.html'

title = 'Precipitation & Direction vs Local Time in Spain'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/3690599769.py:26: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Weather_feature_precipitation.html'

In [142]:
p = explore_plots(weather_pd1, 'local_time', ['clouds_all'],
                  r"$$\mathrm{Local\ Date\ \&\ Time\ (DD-MM-YY\ \ HH:MM)}$$", r"$$\mathrm{Clouds\ (\%)}$$",
                  'Clouds vs Local Time in Spain', feature_columns=None,
                  features_ylabel=None, 
                  p=None, normalize=False, other_colors=False,
                  color_plot=['black', 'blue', 'orange', 'red', 'green'],
                  color_features=None,
                  labels=['clouds_all'], features_labels=None,
                  symbols=available_markers,
                  symbols_features=None)

show(p)

# Save plots.
direct_out = current_dir + '/output/exploratory/'

# Create output directory if it doesn't already exist
if not os.path.exists(direct_out):
    os.makedirs(direct_out)

filename_out = direct_out + '/Weather_feature_clouds.html'

title = 'Clouds vs Local Time in Spain'

save(p, filename_out, title=title)

/var/folders/wv/ww_f6bg15tv52kq7ghvh0w880000gp/T/ipykernel_30872/1281104997.py:25: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(p, filename_out, title=title)

'/Users/u8010412/Library/CloudStorage/Dropbox/Data_Science/Projects/Kaggle_energy_data/archive/output/exploratory/Weather_feature_clouds.html'

### Step Four: Data Cleaning

Now it is time to perform some data cleaning involving the removal and replacement of null values as well as the identification, removal, and replacement of outlier values in both the power and weather datasets. Outlier values will be the most difficult to deal with. Additionally, I will also want to check that the time columns in both the power and weather datasets are aligned so that the two datasets can be merged. one complication is that the weather data is provided for five cities in Spain whereas the power data is for all of Spain.

First I'll check the number of time rows for each city in the weather dataset and compare that to the number of time rows in the power dataset.

In [148]:
print('Number of local time rows in the power dataset: ', len(power_pd2['local_time']))
print('Number of unique local time rows in the power dataset: ', len(power_pd2['local_time'].unique()))

print('Number of utc time rows in the power dataset: ', len(power_pd2['utc_time']))
print('Number of unique utc time rows in the power dataset: ', len(power_pd2['utc_time'].unique()))

print(' ')

for city in weather_pd1['city_name'].unique():
    print('Number of utc time rows in the weather dataset: ', len(weather_pd1.loc[weather_pd1['city_name'] == city, 'utc_time']),
         ' in city: ', city)
    print('Number of unique utc time rows in the weather dataset: ',
          len(weather_pd1.loc[weather_pd1['city_name'] == city, 'utc_time'].unique()),
         ' in city: ', city)
    print(' ')

Number of local time rows in the power dataset:  35064
Number of unique local time rows in the power dataset:  35060
Number of utc time rows in the power dataset:  35064
Number of unique utc time rows in the power dataset:  35064

Number of utc time rows in the weather dataset:  35145  in city:  Valencia
Number of unique utc time rows in the weather dataset:  35064  in city:  Valencia

Number of utc time rows in the weather dataset:  36267  in city:  Madrid
Number of unique utc time rows in the weather dataset:  35064  in city:  Madrid

Number of utc time rows in the weather dataset:  35951  in city:  Bilbao
Number of unique utc time rows in the weather dataset:  35064  in city:  Bilbao

Number of utc time rows in the weather dataset:  35476  in city:   Barcelona
Number of unique utc time rows in the weather dataset:  35064  in city:   Barcelona

Number of utc time rows in the weather dataset:  35557  in city:  Seville
Number of unique utc time rows in the weather dataset:  35064  in city:  Seville

For some reason there are duplicated time rows for the weather data so I will explore this further.

In [ ]:
cities = weather_pd1['city_name'].unique()

for city in cities:
    city_df = weather_pd1[weather_pd1['city_name'] == city]
    duplicated_times = city_df[city_df.duplicated(subset='utc_time', keep=False)]
    
    if not duplicated_times.empty:
        print(f"\nDuplicate utc_time entries in city: {city}")
        print(duplicated_times.sort_values(by='utc_time').head(10))  # show first 10 for brevity

So it appears that there are duplicate rows because when two different weather conditions are reported within the same hour, the time stamp is duplicated. We will need to resolve this duplication issue before we can merge the weather and power datasets. I will explore the duplications further here. Since it appears the *weather_id* column can be used to describe the weather conditions, I'm thinking we can drop the categorical weather columns *weather_main*, *weather_description*, and *weather_icon*. Before I do that, I want to see what all of the unique *weather_id* values correspond to *weather_main* and *weather_description*.

In [ ]:
weather_ids = weather_pd1['weather_id'].unique()

for weather_id in weather_ids:
    weather_main = weather_pd1.loc[weather_pd1['weather_id'] == weather_id, 'weather_main'].unique()
    weather_description = weather_pd1.loc[weather_pd1['weather_id'] == weather_id, 'weather_description'].unique()
    print('Weather ID: ', weather_id)
    print('Weather Main: ', weather_main)
    print('Weather Description: ', weather_description)
    print(' ')

I think the best way to proceed is to select the most extreme weather condition in each duplicate time stamp (which seems to come in pairs) by defining a weather severity mapping (the weather mapping condition codes come from [OpenWeatherMap](https://openweathermap.org/weather-conditions)) and selecting the most extreme weather condition from it and removing the other duplicate time stamps. This method isn't perfect but I think is reasonable given the relatively small number of duplicate time stamps.

In [152]:
# Weather severity mapping that is used to help select the most severe weather conditions from two duplicate
# time stamps.

def get_weather_severity(weather_id):
    if 200 <= weather_id < 300:
        return 5  # Thunderstorm
    elif 300 <= weather_id < 400:
        return 3  # Drizzle
    elif 500 <= weather_id < 600:
        return 4  # Rain
    elif 600 <= weather_id < 700:
        return 4  # Snow
    elif 700 <= weather_id < 800:
        return 2  # Atmosphere (mist, fog)
    elif weather_id == 800:
        return 0  # Clear
    elif 801 <= weather_id <= 804:
        return 1  # Clouds
    else:
        return -1  # Unknown or invalid

In [153]:
weather_pd2 = weather_pd1.copy(deep=True)

weather_pd2['severity'] = weather_pd2['weather_id'].apply(get_weather_severity)

# Sort by severity and weather_id
weather_pd2 = weather_pd2.sort_values(by=['city_name', 'utc_time', 'severity', 'weather_id'], ascending=[True, True, False, False])

# Identify the index of the rows that will be kept
keep_index = weather_pd2.drop_duplicates(subset=['city_name', 'utc_time'], keep='first').index

# Create the audit dataframe, mark rows as kept or dropped
weather_duplicates_audit = weather_pd2.copy(deep=True)
weather_duplicates_audit['keep_row'] = weather_duplicates_audit.index.isin(keep_index)

# Drop duplicates keeping most severe (and then highest ID) row
weather_pd2 = weather_pd2.drop_duplicates(subset=['city_name', 'utc_time'], keep='first').reset_index(drop=True)
weather_duplicates_audit.reset_index(drop=True, inplace=True)

In [ ]:
cities = weather_duplicates_audit['city_name'].unique()

for city in cities:
    city_df = weather_duplicates_audit[weather_duplicates_audit['city_name'] == city]
    duplicated_times = city_df[city_df.duplicated(subset='utc_time', keep=False)]
    
    if not duplicated_times.empty:
        print(f"\nDuplicate utc_time entries in city: {city}")
        print(duplicated_times.sort_values(by='utc_time').head(10))  # show first 10 for brevity

In [156]:
for city in weather_pd2['city_name'].unique():
    print('Number of utc time rows in the weather dataset: ', len(weather_pd2.loc[weather_pd2['city_name'] == city, 'utc_time']),
         ' in city: ', city)
    print('Number of unique utc time rows in the weather dataset: ',
          len(weather_pd2.loc[weather_pd2['city_name'] == city, 'utc_time'].unique()),
         ' in city: ', city)
    print(' ')

Number of utc time rows in the weather dataset:  35064  in city:   Barcelona
Number of unique utc time rows in the weather dataset:  35064  in city:   Barcelona

Number of utc time rows in the weather dataset:  35064  in city:  Bilbao
Number of unique utc time rows in the weather dataset:  35064  in city:  Bilbao

Number of utc time rows in the weather dataset:  35064  in city:  Madrid
Number of unique utc time rows in the weather dataset:  35064  in city:  Madrid

Number of utc time rows in the weather dataset:  35064  in city:  Seville
Number of unique utc time rows in the weather dataset:  35064  in city:  Seville

Number of utc time rows in the weather dataset:  35064  in city:  Valencia
Number of unique utc time rows in the weather dataset:  35064  in city:  Valencia

I've removed the duplicate time stamps for each city.

Next steps, replace missing values in the power and weather datasets.